html
  head
    title='Container Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Container!
        p Click the button below to head over to 2018 FIFA World Cup...
        p
          a.btn.btn-primary(href="https://en.wikipedia.org/wiki/2018_FIFA_World_Cup") 2018 FIFA World Cup
        p

